<!doctype html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <%- include("./partials/navbar.ejs") %>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Forget Password</h3>
                            <%
                                if(typeof message !== 'undefined'){
                                    %>
                                    <p style="color: green;" ><%= message %></p>
                                    <%
                                }
                                %>
                            <form action="/forget" method="post" >

                                
                                   
                                

                               

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <input type="email" id="emailAddress"
                                                class="form-control form-control-lg" name="email"/>
                                            <label class="form-label" for="emailAddress">Email</label>
                                        </div>

                                    </div>
                                    

                                <div class="mt-4 pt-2">
                                    <input class="btn btn-primary btn-lg" type="submit" value="Send Reset Link" />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>